
body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 40px;
    font-weight: black;
    text-align: centre;
    
}

h2 {
    margin-top: 16px;
}

p {
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e7e7e7;
    margin-bottom: 0.5em;
    padding: 10px;
    border-radius: 5px;
