body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #142231;
    color: #82bbdb;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: #133d7c;
    text-decoration: underline;
    }

main {
    padding: 20px;
}

main h2 {
    color: #333333;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #aaaaaa;
    color: #ffffff;
    line-height: 10px;
    ;
}

.ul {
    list-style: circle;
    font-weight:600;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}